<div class="p-2">
  {{ if .Params.thumbnail }}
  <div class="relative">
    <a href="{{ .Permalink }}">
      <img src="{{ .Params.thumbnail }}" alt="{{ .Params.title }}" class="rounded-lg shadow-sm w-full h-52 object-cover" />
    </a>
    {{ if not (or (or .Site.Params.hideMeta .Params.hideMeta) false) }}
    <div class="absolute top-4 right-4 rounded shadow bg-gray-900 text-white text-sm px-2 py-0.5">
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
      <!--{{ partial "date.html" (dict "date" .Date "language" $.Page.Language "format" "short") }}-->
    </div>
    {{ end }}
  </div>
  {{ end }}
  <a href="{{ .Permalink }}">
    <div class="my-2 text-xl font-semibold"> <span class={{ .Params.titleStyle}}>{{ .Params.title }} </span> {{ .Params.subtitle }}</div>
    <div>{{ .Params.description }}</div>
  </a>
{{ if .Params.linkURL }}
<p class="text-left pt-2 text-lg font-bold italic"> <a class="text-gray-500" href={{ .Params.linkURL }} target="_blank" >--> go to dedicated website</a></p>
{{ end }}
</div>
