<section class="{{ .Site.Params.ascentColor | default "bg-white" }} dark:bg-gray-900">
    <div class="container max-w-3xl mx-auto px-6 pt-12 pb-8 grid md:grid-cols-2 gap-8 items-center">
        <img class="place-self-center w-64 md:w-96 rounded-lg shadow-sm" src="{{ .Site.Params.introPhoto }}" alt="{{ .Site.Title }}" />
      <div class ="md:col-span-1">
        <p class="font-light text-base mb-6">
          <strong>I am an independent <em>statistician-turned-philosopher</em> based in Madrid.</strong>
        </p>

        <p class="font-light text-base mb-6">
          I started my career as an economic analyst, hold a <strong>PhD in biostatistics</strong>, and have spent more than a decade
          advising students and researchers across most fields of study on <strong>research design</strong> and statistical methodology.
        </p>
        <p class="font-light text-base mb-6">
          My primary <a href="https://www.okpal.com/nicogreu" class="underline" target="_blank">research interests</a> are <strong>epistemology, decision theory, and the philosophy of science</strong>.
          But I am also keen to <a href="https://www.okpal.com/nicogreu" class="underline" target="_blank">collaborate on any experimental philosophy project</a>.
        </p>        
        
        <p class="font-light text-base mb-6"> 
          On the side I'm also an artist and the author of the comic <a href="https://crish.fr/en" class="underline" target="_blank"><span class="font-crish italic text-xl">crish</span></a>.
        </p>

      </div>
      
    </div>



        <!--button class="py-2 px-4 font-light rounded-lg bg-gray-700 hover:bg-gray-600 text-lg">{{ .Site.Params.introSoutien | safeHTML}}</button>
        <script src="https://liberapay.com/nicogreu/widgets/button.js"></script><noscript><a href="https://liberapay.com/nicogreu/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a></noscript>
        <a href="https://buy.stripe.com/cN24go5DogjA4U0145"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a>
        <form action="/url" method="GET">
          <input class=text-gray-400 type="text">
        </form-->

  </section>