<section class="{{ .Site.Params.ascentColor | default "bg-white" }} dark:bg-gray-900">
    <div class="container max-w-3xl mx-auto px-6 pt-12 pb-8 grid md:grid-cols-3 gap-8 lg:gap-16 items-center">
        <img class="place-self-center w-64 md:w-96 rounded-lg shadow-sm" src="{{ .Site.Params.introPhoto }}" alt="{{ .Site.Title }}" />
      <div class ="md:col-span-2">
        <p class="font-light text-base mb-6">
          I am a (latecomer) researcher in philosophy, primarily working in Epistemology and the Philosophy of Science.
        </p>

        <p class="font-light text-base mb-6">
          I have a somewhat atypical background. I started my career as an economic analyst, got a PhD in biostatistics, and spent many years
          providing research methods guidance to science students and researchers.
        </p>

        <p class="font-light text-base mb-6"> 
          I'm also an artist and the author of the comic crish, a semi-fantastic adventure filled with absurd humour
          and philosopho-educational content on statistics and the research world.
        </p>

        <p class="font-light text-base mb-6">  
          I am currently based in Madrid and working independently.
          
        </p>




      </div>
      
    </div>



        <!--button class="py-2 px-4 font-light rounded-lg bg-gray-700 hover:bg-gray-600 text-lg">{{ .Site.Params.introSoutien | safeHTML}}</button>
        <script src="https://liberapay.com/nicogreu/widgets/button.js"></script><noscript><a href="https://liberapay.com/nicogreu/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a></noscript>
        <a href="https://buy.stripe.com/cN24go5DogjA4U0145"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a>
        <form action="/url" method="GET">
          <input class=text-gray-400 type="text">
        </form-->

  </section>