/* Fonts */

h1, h2, h3, h4, a {
    color:white;
}


h3 {
    /*font-family: 'Kggloria';*/
    font-family: 'Gloria Hallelujah', cursive;
    color:white;
}
body {
    color:white;
}
p {
    color:white;
}
